@font-face {
    src: url('../fonts/Arimo-SemiBold.ttf');
}

@font-face {
    src: url('../fonts/Arimo-Regular.ttf');
}

@font-face {
    src: url('../fonts/Arimo-Medium.ttf');
}

@font-face {
    src: url('../fonts/Arimo-Bold.ttf');
}

.logo-text{
    -fx-font-family: "Arimo Bold";
    -fx-font-size: 19;
    -fx-line-spacing: 3;
    -fx-text-fill: "#75B649";
}

.logo-motto{
    -fx-font-family: "Arimo SemiBold";
    -fx-font-size: 13;
    -fx-text-fill: "#FFCA42";
}

.app-text{
    -fx-font-family: "Arimo Bold";
    -fx-font-size: 36;
    -fx-text-fill: "#000000";
}

.success-text{
    -fx-font-family: "Arimo SemiBold";
    -fx-font-size: 36;
    -fx-text-fill: "#000000";
}

.section-header{
    -fx-font-family: "Arimo Bold";
    -fx-font-size: 19;
    -fx-line-spacing: 3;
    -fx-text-fill: "#000000";
}